:root {
    --black: black;
    --blue-strong: rgb(4, 115, 219);
    --blue-medium: rgb(4, 132, 252);
    --gray-light: rgb(243, 240, 240);
    --white: white;
    --tomato: tomato;
    --orange: orange;
    --yellow: yellow;
    --green: green;
    --cyan: cyan;
    --blue: blue;
    --purple: purple;
    --violet: violet;
    --indigo: indigo;
    --aqua: aqua;
    --khaki: khaki;
    --lavender: lavender;
    --maroon: maroon;
    --navy: navy;
    --olive: olive;
    --pink: pink;
    --coral: coral;
    --red: red;
    --silver: silver;
    --tan: tan;
    --teal: teal;
    --violet: violet;
    --wheat: wheat;
    --coral: coral;
    --yellow: yellow;
    --azure: azure;
}