.search-modal__item {
    &::after {
        content: '';
        position: absolute;
        left: -1rem;
        right: 0;
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 2.5rem;
        background-color: transparent;
        transition: background-color 350ms;
        border-radius: 0.7rem;
    }
    &:hover{
        &::after {
            background-color: rgb(243, 240, 240);
        }
    }
    &-button {
        height: 2.5rem;
        z-index: 1;
    }
}